/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--global-font-color: #333;
	--global-font-family: "Times New Roman", Times, serif;
	--global-font-size: 20;
	--global-font-line-height: 1.4;
	--highlight-font-family: Arial, Helvetica, sans-serif;
	--content-width: 45rem;
	--dropdown-symbol-width: 0.7em;

	/* Custom editor colors */
	--color-theme-primary: #f00;
	--color-theme-secondary: #0007d8;
	--color-theme-tertiary: #61ce70;
	--color-theme-red: #c0392b;
	--color-theme-green: #27ae60;
	--color-theme-blue: #2980b9;
	--color-theme-yellow: #f1c40f;
	--color-theme-black: #000;
	--color-theme-grey: #95a5a6;
	--color-theme-white: #fff;

	--color-link: #0073aa;
	--color-link-visited: #333;
	--color-link-active: #00a0d2;

	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	--color-header-footer-border: #ebebeb;

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);
}
