/**
 * Custom styles for the front-page.php template.
 */

@media (--sidebar-query) {

	.site {
		margin: 0;
		display: grid;
		grid-template-columns: 1fr;
	}

	.site-main {
		margin: 0;
	}

	.front-cover-image {
		min-height: 70vh;
	}

	.site-main .posts-navigation {
		width: 100%;
		margin-bottom: 0;
		padding: 2rem 0 0;
		border-top: 1px solid #111;
		border-bottom: none;
	}

}
